.change_requests{

  margin-left: rem(-40);

  @include tablet{
    margin-left: 15vw;
  }

  @include desktop{
    margin-left: 19vw;
  }

  .wrapper > #first-tab-group{
      background-color: $color-white;
      width: 77vw;

      @include tablet{
        width: 68vw;
      }

      @include desktop{
        width: 60vw;
      }
    }

  .request_form{
    .view_button{
      display: block;
      background-color: $color-grey-button;
      border: rem(3) solid $color-grey-border;
      padding: rem(8);
      font-family: $font-montserrat;
      font-size: rem(14);
      margin-bottom: rem(40);
      text-align: left;
      border-top: none;
      text-align: center;

      h4{
        margin: 0;
      }

      @include tablet{  
        height: rem(20);
        padding: rem(10) rem(30);

        h4{
          font-size: rem(14);
        }
      }
    }

    .request_content{
      margin-bottom: 0;
      padding-top: rem(10);
      padding-bottom: rem(10);
      display: block;
      background-color: $color-white;
      border: 3px solid $color-grey-border;
      font-family: $font-montserrat;
    }

    .request_title{
      margin-top: 0; 
      display: block;
      border: 3px solid $color-grey-border;
      border-bottom: none;
      padding: rem(10);
      font-family: $font-montserrat;
      margin-bottom: 0;
      text-align: left;
      color: $color-white;
      font-weight: bold;

      @include tablet{
        padding-top: rem(10);
        padding-bottom: rem(10);
      }
    }
  }

  .wrapper {
    margin: 30px auto;
    width: 80%;
    font-family: sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 24px;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  h1 + p {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
  }
  .tabs li {
    float: left;
    width: 25.2vw;
    max-width: rem(117.5);
  }
  .tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: rem(10) rem(2);
    border-bottom: rem(2) solid #888;
    background: $color-grey-cr-tab;
    font-weight: bold;
  }
  .tabs a:hover,
  .tabs a.active {
    background: $color-grey-active-tab;
    color: $color-white;
  }
  .tabgroup div {
    padding: rem(15);
    border: rem(2) solid $color-grey-border;

    @include tablet{
      padding: rem(25);
    }
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


}

.file_link{

  @include tablet{
     display: flex; 
  }

  .file{
    color: $color-red-button;
    font-weight: 700; 
    text-align: center;

    @include tablet{
      flex: 1;
    }
  }

  button{
    box-shadow: none;
    padding: rem(2);
    height: rem(20);

    @include tablet{
      margin: auto;
      width: 23vw;
    }

    @include tablet{
      width: 18vw;
    }
  }
}

.approval_content{
  margin-top: 0;

  .form_buttons{
    margin-top: rem(65);
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-upload{
    display:block;
    text-align:center;
    font-family: $font-montserrat;
    font-size: 12px;
}
.file-upload .file-select{
    display:block;
    border: 2px solid $color-grey-input;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
.file-upload .file-select .file-select-button{
    background: $color-grey-input;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
 .file-upload .file-select .file-select-name{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}
 .file-upload .file-select:hover{
    border-color:#34495e;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
 .file-upload .file-select:hover .file-select-button{
    background: $color-dark-grey-sidebar;
    color: $color-white;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
 .file-upload.active .file-select{
    border-color: $color-red-button;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
 .file-upload.active .file-select .file-select-button{
    background: $color-red-button;
    color: $color-white;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}
 .file-upload .file-select input[type=file]{
    z-index:100;
    cursor:pointer;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
 .file-upload .file-select.file-select-disabled{
    opacity:0.65;
}
 .file-upload .file-select.file-select-disabled:hover{
    cursor:default;
    display:block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    margin-top:5px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;
}
 .file-upload .file-select.file-select-disabled:hover .file-select-button{
    background:#dce4ec;
    color:#666666;
    padding:0 10px;
    display:inline-block;
    height:40px;
    line-height:40px;
}
 .file-upload .file-select.file-select-disabled:hover .file-select-name{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
}

.change_button{
  @include tablet{
    margin-left: 5vw;
    width: 30vw;
  }

  @include desktop{
    margin-left: 10vw;
  }
}

.back_button{
  @include tablet{
    margin-left: 9vw;
  }

  @include desktop{
    margin-left: 15vw;
  }
}

.declined_title, .approved_title, .pending_title{
  margin-top: 0;
}

.declined_title, .declined_card{
  background-color: $color-black;
}

.pending_title, .pending_card{
  background-color: $color-grey-pending;
}

.approved_card{
    background-color: $color-red-button;
}