#date_closed, #user_closed{
  margin-top: rem(15);

  @include tablet{
    display: flex;
  }

  #date_closed-header, #user_closed-header{
    @include tablet{
      width: 37%;
    }
  }

}

#date_closed{
  margin-bottom: rem(20);
}