.form_content{
  display: block;
  width: 60vw;
  background-color: $color-white;
  border: 3px solid $color-grey-border;
  padding: rem(20);
  font-family: $font-montserrat;
  margin-bottom: 5vw;

  input{
    width: 60vw;
    border: none;
    background-color: $color-grey-input;
    height: rem(20);
    padding: rem(15);
  }

  select{
    width: 60vw;
    padding: rem(6.5);
    border: none;
    background-color: $color-grey-input;
  }

  h4{
    text-align: left;
    margin: rem(8);
    font-weight: 100;
    font-size: rem(12);
  }

  @include tablet{  
    width: 45vw;
    margin-left: 32vw;
    padding: rem(30);

    input{
      width: 45vw;
    }

    select{
      width: 45vw;
    }

    h4{
      font-size: rem(14);
    }
  }
}

.form_title{
  display: block;
  width: 60vw;
  background-color: $color-red-button;
  border: 3px solid $color-grey-border;
  border-bottom: none;
  padding: rem(20);
  font-family: $font-montserrat;
  margin-top: 25vh;
  margin-bottom: 0;
  text-align: left;
  color: $color-white;
  font-weight: bold;

  @include tablet{  
    width: 45vw;
    margin-top: 18vh;
    margin-left: 32vw;
    padding: rem(10) rem(30);

    h4{
      font-size: rem(14);
    }
  }
}

.form_buttons{
  display: block;    
  width: 60vw;
  font-family: $font-montserrat;
  margin-top: 8vh;
  margin-bottom: 0;

  button{
    margin-bottom: rem(5);
    box-shadow: none;
    width: rem(192);
    background-color: $color-red-button;  
    color: $color-white;
    // border: 3px solid $color-grey-border;
  }

  @include tablet{  
    display: grid;    
    grid-template-columns: auto auto;
    width: 50vw;
    
    h4{
      font-size: rem(14);
    }

    button{
      width: 20vw;
    }

    .cancel_project{
      border-right: 1px solid $color-white;
    }

    .create_project{
      border-left: 1px solid $color-white;
    }
  }
}

.new-project_description, 
.closed-project_description,
.closed-project_lessons{
  width: 60vw;
  border: none;
  background-color: $color-grey-input;
  height: rem(150);
  padding: rem(15);
  font-family: $font-default;
  font-size: rem(13);
  margin-bottom: rem(20);

  @include tablet{
    width: 45vw;
  }
}

.lifecycle{
  @include tablet{
    display: block;
  }

  @include desktop{
    display: grid;
    grid-template-columns: auto auto;
  }

  .phases{
    input{
      margin: rem(5);
    }

    @include tablet{
      width: 70%;

      input{
        width: 100%;
      }
    }
  }

  .estimation{
    input{
      margin: rem(5);
      padding: rem(15) rem(2);
    }

    @include tablet{
      input{
        width: 43%;
      }
    }
  }

}

#example{
  padding-top: rem(10);
  font-size: rem(12);
  width: 60vw;

  @include tablet{  
    width: 45vw;
  }

  
}

#example_wrapper{
  font-size: rem(12);
  select{
    width: 16vw;

    @include tablet{
      width: 7vw;
    }

    @include desktop{
      width: 5vw;
    }
  }

}

#example_paginate{
  display: flex;
  width: 100%;

  span{
    height: rem(30);
    background-color: transparent;
    margin: 0 auto;
    display: inherit;

    a{
      padding-right: rem(16);
    }
  }
}

.dataTables_info{
  display: none;
}

#example_previous, #example_next{
  display: none;

  @include tablet{
    display: inline-block;
  }
}

#example_filter{
  margin-top: rem(20);
  margin-bottom: rem(20);

  @include tablet{
    margin-top: 0;
    margin-bottom: 0;
  }
  
  label > input{
    margin-left: 0;

    @include tablet{
      margin-left: rem(10);  
      width: 17vw;
    }
  }
}
