#emailadd{
  width: rem(250);
  display: block;
  height: rem(30);
  border-width: rem(2);
  font-size: rem(16);
  margin: 0 auto rem(25);
  padding: rem(5);
  
  @include tablet{
    width: rem(450);
  }
}

.forget_buttons{
	display: flex;
	width: rem(150);
}

// form{
//   margin-left: rem(-40);
// }