.forgetpass_title{
  letter-spacing: rem(12);
  font-family: $font-montserrat;
  font-size: rem(25);
  text-shadow: rem(8) rem(5) rgba(0,0,0, 0.2);
  font-weight: 700;
  margin: 0;
  margin-left: rem(-40);
  margin-bottom: rem(60);

  @include tablet{
    font-size: rem(50);
    text-shadow: rem(15) rem(12) rgba(0,0,0, 0.2);
    margin-top: rem(35);
  }
}

#emailadd{
  width: rem(250);
  display: block;
  height: rem(30);
  border-width: rem(2);
  font-size: rem(16);
  margin: 0 auto rem(25);
  padding: rem(5);
  
  @include tablet{
    width: rem(450);
    margin-top: rem(80);
  }
}

.forget_buttons{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(100);

  button{
    max-width: rem(300);
  }

  .confirm_button{ 
    margin-left: 0;

    @include tablet{
      margin-left: rem(30);
    }
  }
}

#new_pass, #confirm_pass{
  width: rem(250);
  display: block;
  height: rem(30);
  border-width: rem(2);
  font-size: rem(16);
  margin: 0 auto rem(25);
  padding: rem(5);
  
  @include tablet{
    width: rem(450);
  }
}
