.main_title{
	letter-spacing: rem(12);
	font-family: $font-montserrat;
	font-size: rem(25);
	text-transform: uppercase;
	text-shadow: rem(10) rem(6) rgba(0,0,0, 0.2);
	font-weight: 700;
  margin: 0;
  margin-left: rem(-40);
  margin-bottom: rem(60);

  @include tablet{
    font-size: rem(80);
    text-shadow: rem(18) rem(15) rgba(0,0,0, 0.2);
  }
}

#forget_text{
	font-size: rem(15);
  font-weight: 0;
  margin-left: rem(-40);
}

#user, #pass{
  width: rem(250);
  display: block;
  height: rem(30);
  border-width: rem(2);
  font-size: rem(16);
  margin: 0 auto rem(25);
  padding: rem(5);
  
  @include tablet{
    width: rem(450);
  }
}

.credentials{
  margin-bottom: rem(50);
  text-align: center;
  align-content: center;

  ::placeholder{
    color: rgba(0,0,0, 0.3);
  }
}

.default_button{
  width: rem(250);
  margin-bottom: rem(35);
    
  @include tablet{
    width: rem(450);
  }

  @include desktop{
    width: rem(450);
  }
}


