main{
  width: 100%;
  position: relative;
}

.page_button{
  width: rem(250);
  margin-bottom: rem(35);
    
  @include tablet{
  	margin-left: 15vw;
  	margin-right: 3vw;
    max-width: rem(300);
    width: 25vw;
  }
}

.project_cards{
	display: grid;
  margin-left: rem(-40);
	text-transform: uppercase;
	line-height: rem(130);	
 	a{
 		color: $color-white;
 	}

	@include tablet{
		margin-top: 0;
  	margin-left: 21vw;
		grid-template-columns: auto auto;    	
	}

  @include desktop{
		grid-template-columns: auto auto auto;
  }

  .open-project{
  	background-color: $color-red-button;
  	margin: rem(25);
		box-shadow: rem(15) rem(10) rgba(0,0,0, 0.1); 
  }

  .close-project{
  	margin: rem(25);
  	box-shadow: rem(15) rem(10) rgba(0,0,0, 0.1); 
  	background-color: $color-dark-grey-sidebar;
	}
}

