//utilities
@import "./utilities/variables";
@import "./utilities/functions";
@import "./utilities/mixins";
@import "./utilities/colors";
@import "./utilities/common";

//components per page
@import "./pages/home";
@import "./pages/forgetpass";
@import "./pages/passsent";