//utilities
@import "./utilities/variables";
@import "./utilities/functions";
@import "./utilities/mixins";
@import "./utilities/colors";
@import "./utilities/common";

//components per page
@import "./pages/index";
@import "./pages/forgetpass";
@import "./pages/passsent";
@import "./pages/homepage";
@import "./pages/profilesettings";
@import "./pages/createproject";
@import "./pages/closedproject";
@import "./pages/userspage";
@import "./pages/progress";
@import "./pages/projectclosure";
@import "./pages/changerequest";