$color-red-button: #ef5145ff;
$color-red-line: #ff0000;
$color-white: #fff;
$color-grey-box: #efefefff;
$color-dark-grey-sidebar: #434343;
$color-grey-active-tab: #666666;
$color-grey-tab: #515151;
$color-red-signout: #e94f44;