$color-red-button: #ef5145ff;
$color-red-line: #ff0000;
$color-white: #fff;
$color-grey-box: #efefefff;
$color-dark-grey-sidebar: #434343;
$color-grey-active-tab: #666666;
$color-grey-tab: #515151;
$color-grey-button: #f3f3f3;
$color-grey-border: #b7b7b7;
$color-red-signout: #e94f44;
$color-grey-input: #e8e8e8;
$color-black: #000000;
$color-grey-cr-tab: #f7f7f7;
$color-grey-pending:#9e9e9e;