input:focus, button:focus, textarea:focus{
  outline-width: 0;
}

select:focus{
  outline-width: 0;
}

body{
	align-content: center;
	text-align: center;
	margin: 0;
	font-family: $font-default;
}

button{
	border: none;
  font-size: rem(14);
	background-color: $color-red-button;
  color: $color-white;
	text-transform: uppercase;
  padding: rem(10);
	height: rem(40);
	box-shadow: rem(15) rem(10) rgba(0,0,0, 0.5);
}

.dot_pattern{
  background: transparent url("../assets/images/dots.png") repeat;
  position: fixed;
  z-index: -1;
  width: 45%;
  height: 80%;
  right: 0;
  bottom: 0;
}

.line_layout{
  border-left: 1px solid $color-red-line;
  height: 94vh;
  margin-left: rem(40);
  margin-top: 2vh;
}

.line_layout::after{
  // display: none;
  content: '';
  display: inline;
  width: 140vh;
  height: rem(1);
  background-color: $color-red-line;
  position: fixed;
  transform: rotate(-35deg);
  left: 0;
  top: 55%;
  z-index: -1;
}

a, a:hover{
	color: #000000;
	text-decoration: none;
}

.form_layout{
  margin-left: rem(-40);
}


.horizontal_line{
  margin-left: 15%;
  margin-right: 0;
  width: 85%;
  height: rem(1);
  background-color: red;
  margin-top: rem(35);
}

.logo{
  width: rem(255);
  margin-left: rem(-40);
}

footer{
  background-color: #434343ff;
  color: #ffffff;
  height: rem(60);
  vertical-align: middle;
  bottom: 0;
  left:0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; 
  text-transform: uppercase;
}

.sidebar_content{
  margin-top: rem(8);

  ul{
    padding: 0;
  }

  ul > li{
    margin-bottom: rem(3);
    background-color: $color-grey-tab;
    list-style-type: none;
  }

  li a{
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: rem(40);
  }

  .active_tab{
    background-color: $color-grey-active-tab;
    border-left: rem(15) solid $color-red-signout;
  }
}

.signout{
  background-color: $color-red-signout;
  font-weight: bold;
  text-transform: uppercase;
  line-height: rem(40);
  margin-top: rem(35);
  color: $color-white;
  bottom: 20;
  max-width: rem(260);
  width: rem(260);
  position: fixed;

  @include tablet{
    width: 25%;
    left: 0;
  }
}

.sidebar{
  float: left;
  width: rem(260);
  height: 200vh;
  background-color: $color-dark-grey-sidebar;
  max-width: rem(260);
  position: fixed;
  left: rem(-261);
  z-index: 10;
  font-family: $font-default;

  @include tablet{
    width: 25%;
    left: 0;
  }

  &.display-sidebar{
  left: 0;
  }
}

.fixed_line{
  position: absolute;
  z-index: -1;
}

.logo_box{
  background-color: $color-white;
  padding: rem(10);
  width: rem(222);
    box-shadow: rem(12) rem(12) $color-red-button;
  margin-top: rem(25);
  margin-left: rem(2);

  @include tablet{
    margin-left: 0.8vw;
    width: 78%;
  }
}

.sidebar_title{
  letter-spacing: rem(9);
  font-family: $font-montserrat;
  text-transform: uppercase;
  text-shadow: rem(5) rem(4) rgba(0,0,0, 0.2);
  font-weight: 700;
  margin-bottom: rem(40);
  line-height: rem(50);
  font-size: rem(14);

  @include tablet{
    font-size: 1.2vw;
    text-shadow: 0.4vw 0.3vw rgba(0,0,0, 0.2);
  }
}

.member_name{
  margin: 0;
  a{
    color: $color-white;
    font-size: rem(18);
    text-transform: uppercase;  
    font-weight: bold;
  }
  
}

.sidebar_divider{
  height: rem(1);
  background-color: $color-grey-box;
  width: rem(208);
  margin-top: rem(20);
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include tablet{
    width: 15vw;
  }
}

.toggle-btn{
  left: 105%;
  top: rem(20);
  position: absolute;
  
  @include tablet{
    display: none;
  }

  span{
    height: rem(6);
    width: rem(34);
    margin-bottom: rem(3);
    margin: rem(3);
    background-color: $color-dark-grey-sidebar;
    display: block;
  }
}



.module_title{
  letter-spacing: rem(12);
  font-family: $font-montserrat;
  font-size: rem(25);
  text-transform: uppercase;
  text-shadow: rem(10) rem(6) rgba(0,0,0, 0.2);
  font-weight: 700;
  margin: 0;
  margin-bottom: rem(20);
  
  @include tablet{
    font-size: rem(25);
    text-shadow: rem(5) rem(8) rgba(0,0,0, 0.14);
  }

}

.project_header{
  margin-left: rem(-40);
  margin-top: rem(50);

  @include tablet{
    display: flex;
    margin-top: rem(30);
    margin-left: 21vw;
  }
}

.main_page{
  position: absolute;
  margin-left: rem(40);
}

.no-button{
  width: 82vw;

  @include tablet{
    width: 93vw;
  }
}

.edit_icon{
  width: rem(15);
}

