input:focus, button:focus{
  outline-width: 0;
}

body{
	align-content: center;
	text-align: center;
	margin: 0;
	font-family: $font-default;
}

button{
	border: none;
  font-size: rem(14);
	background-color: $color-red-button;
  color: $color-white;
	text-transform: uppercase;
  padding: rem(10);
	height: rem(40);
	box-shadow: rem(15) rem(10) rgba(0,0,0, 0.5);
}

.dot_pattern{
  background: transparent url("/Users/rembtalastasin/Development/collabable_korin/dev/assets/images/dots.png") repeat;
  position: fixed;
  z-index: -1;
  width: 45%;
  height: 80%;
  right: 0;
  bottom: 0;
}

.line_layout{
  border-left: 1px solid $color-red-line;
  height: 94vh;
  margin-left: rem(40);
  margin-top: 2vh;
}

.line_layout::after{
  // display: none;
  content: '';
  display: inline;
  width: 140vh;
  height: rem(1);
  background-color: $color-red-line;
  position: absolute;
  transform: rotate(-35deg);
  left: 0;
  top: 55%;
  z-index: -1;
}

a, a:hover{
	color: #000000;
	text-decoration: none;
}

.form_layout{
  margin-left: rem(-40);
}


.horizontal_line{
  margin-left: 15%;
  margin-right: 0;
  width: 85%;
  height: rem(1);
  background-color: red;
  margin-top: rem(35);
}

.logo{
  width: rem(255);
  margin-left: rem(-40);
}

footer{
  background-color: #434343ff;
  color: #ffffff;
  height: rem(60);
  vertical-align: middle;
  bottom: 0;
  left:0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; 
  text-transform: uppercase;
}